body {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

.top-half {
    height: 25vh;
    background-color: #006c91;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 50px;
}

.bottom-half {
    height: 75vh;
    background: white;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.tabcontent {
    background-color: #006c91;
    color: white;
    border-radius: 5px;
    padding: 2rem;
    max-width: 900px;
    min-width: 900px;
    animation: fadeEffect 1s;
    overflow-y: auto;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

img {
    border-radius: 50%;
    border: 2px solid #002936;
}

.tab {
    overflow: hidden;
    border: 2px solid #002936;
    background-color: #005774;
    display: flex;
    padding: 0;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    flex: 1;
}

.tab button:hover {
    background-color: #00465e;
}

.tab button + button {
    border-left: 1px solid #00465e;
}

.tab button.active {
    background-color: #00465e;
}
